1. 承知しました。Q&A No.5を回答しましたので、ご確認お願い致します。

2. 承知しました。次回のテストにこの観点を確認致します。

3. 承知しました。Q&A No.28の確認ができ次第、テストケースNo.26~28を実施致します。

4. 新にてinit Edge Driverの処理があるため、旧のジョブより新のジョブの処理時間の方が長くなっています（旧には該当の処理がありません）
このinitの処理は最初のレコードのみに1回しか稼働しないため、仮に100レコードがあっても旧と大して違いません。
この問題は総合テスト時の問題対象に入れて擦り合わせを行えばいかがでしょうか。
